@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #7531eb;
  padding: 0 5%;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-family: Helvetica;
  margin-bottom: 10px;
}

.home {
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ddd;
  margin: auto;
  width: 800px;
  max-width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.itens {
  padding: 10px;
  background-color: white;
  margin: 10px;
  min-width: 150px;
  border-radius: 5px;
}

img {
  width: 150px;
  border-bottom: 1px solid rgb(180, 176, 176);
}

.itens > h3 {
  color: blue;
  text-align: left;
  margin-left: auto;
}

.itens > p {
  color: blue;
  text-align: left;
  margin-left: auto;
  margin: 0;
}

.navbar a{
  text-decoration: none;
  color: #ddd;
  font-size: 1.5rem;
}

.navbar .links {
  margin-left: auto;
}

.itens:hover {
  transition: 200ms;
  box-shadow: 5px 5px 5px gray;
}

::placeholder {
  color: #ddd;
}

button {
  background-color: rgba(200,200,200,0.0);
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: -23px;
}

.links input[type=text] {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(200,200,200,0.3);
  border: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.login {
  background-color: #7531eb;
  margin: 0 auto;
  border-radius: 5px;
  width: 40%;
  margin-top: 50px;
  max-width: 600px;
  min-height: 700px;
}

.loginForm {
  background-color: #7531eb;
  border-radius: 5px;
  width: 100%;
  display: block;
}

.loginForm > input {
  border-radius: 5px;
  height: 40px;
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.loginForm > input::placeholder{
  color: #8467b6;
}

.loginForm > button {
  background-color: #ddd;
  width: 170px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: #5b05ee;
  font-size:larger;
}

.loginForm >button:hover {
  box-shadow: 5px 5px 5px #5b05ee;
}

.unity {
  margin: 0 auto;
  max-width: 70%;
  margin-top: 40px;
  flex: 1 1 200px;
  flex-wrap: wrap;
}

.unitPrizes {
  background-color: #dbcaf8;
  min-width: 200px;
  width: 50%;
  padding-top: 100px;
  max-width: 100%;
  border-radius: 5px;
  justify-content:left;
}

.create {
  height: 100%;
}

.create > img {
  width: 100%;
  display: block;
}

.unitPrizes > h1 {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: larger;
}

.unitPrizes >h1, p {
  margin: 0 auto;
  width: 70%;
  text-align: left;
}

.unitPrizes > p {
  font-size: larger;
}

.unitPrizes > button {
  background-color: #5b05ee;
  width: 70%;
  min-height: 40px;
  margin: 0 auto;
  font-size: larger;
  margin-top: 10px;
  height: 50px;
}

.unitPrizes > button:hover {
  transition: 200ms;
  box-shadow: 5px 5px 5px rgb(187, 170, 170);
}

button > img {
  width: 30px;
  display: inline;
  border: 0;
}

.cartUser {
  display: inline;
  width: 30px;
  border-bottom: 0;
  margin-right: 12px;
}